/** colores */
/** fuentes */
.blog .title {
  font-family: "Alegreya", serif;
  color: blue;
  display: flex;
  font-size: 30px; }

.blog {
  background-color: white;
  width: 100%;
  padding: 30px; }

.process {
  margin-bottom: 30px; }
  .process > div > h3 {
    color: red;
    font-size: "Alegreya", serif; }
  .process > div > p {
    color: purple;
    margin: 0; }
  .process .process-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    text-align: center; }
    .process .process-icon img {
      height: 100%; }
