/** colores */
$dark-green-title: blue;
$dark-green-text: purple;
$white: white;

/** fuentes */
$font-title: "Alegreya", serif;

%base-title {
    font-family: $font-title;
    color: $dark-green-title;
    display: flex;
    font-size: 30px;
}
